{% extends 'base.html'%}
{% block body %}

<body>
    <div class="container">
    <h1>Update Student Details</h1>
    
    <form action="/update/{{student.sno}}" method="POST">    
        <div class="row">
            <div class="col">
                <label>First Name:
                    <input type="text" class="form-control" value="{{student.name}}" placeholder="First name" aria-label="First name" name="name"
                        required>
            </div>
            </label>
            <div class="col">
                <label>Last Name:
                    <input type="text" class="form-control" value="{{student.last}}" placeholder="last name" aria-label="First name" name="last"
                        required>
                </label>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col">
                <label>Father's Name:
                    <input type="text" class="form-control" value="{{student.father}}" placeholder="Abdul Ali" name="father" required>

                </label>
            </div>
            <div class="col">
                <label>Mother's Name:
                    <input type="text" class="form-control" value="{{student.mother}}" name="mother" required>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Date of Birth:
                    <input type="date" value="{{student.dob}}" class="form-control" placeholder="dd/mm/yyyy" name="dob" required>
                </label>
            </div>
            <div class="col">
                <label>Phone:
                    <input type="text" value="{{student.phone}}" class="form-control" placeholder="+91-93951141XX" name="phone" required>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>PIN:
                    <input type="text" value="{{student.pin}}" class="form-control" placeholder="784125X" name="pin" required>
                </label>
            </div>
            <div class="col">
                <label>Class:
                    <input type="text" value="{{student.std}}" class="form-control" placeholder="VI" name="std" required>
                </label>
            </div>
            <div class="col">
                    <label>Roll No:
                        <input type="number" class="form-control" value="{{student.roll}}" placeholder="01" name="roll" required>
                    </label>
                </div>
            <div class="row">
           <div class="col-md-6 mx-auto my-3">
           <button type="submit"  class="btn btn-outline-danger" aria-label="Submit" >Update Student</button>
           </div>
        </div>
    </form>
</body>

{% endblock body %}